{% extends 'layout/manage.html' %}


{% block title %}file{% endblock %}
{% block css %}
    <style>
        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-default > .panel-heading a {
            text-decoration: none;
        }

        .panel-default > .panel-heading span {
            padding: 0 5px;
        }

        .panel-default > .panel-heading .function .upload {
            overflow: hidden;
        }

        .panel-default > .panel-heading .function .upload input {
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 76px;
            left: -2px;
            overflow: hidden;
        }

        .upload-progress {
            position: fixed;
            right: 2px;
            bottom: 2px;
            width: 400px;
        }

        .upload-progress .progress-error {
            color: red;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="panel panel-default" style="margin-top: 20px;">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div>
                    <a href="{% url 'manage:file' project_id=request.tracer.project.id %}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>文件库</span>
                    </a>
                </div>
                <div class="function">
                    <div class="btn btn-primary btn-xs upload" style="position: relative">
                        <div><i class="fa fa-upload" aria-hidden="true"></i> 上传文件或文件夹</div>
                        <input type="file" multiple name="uploadFile" id="uploadFile" webkitdirectory>
                    </div>
                    <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#addModal" data-whatever="新建文件夹">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建文件夹
                    </a>
                </div>
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>文件大小</th>
                    <th>更新者</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="rowList">
                <tr>
                    {% for item in queryset %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.file_size }}</td>
                            <td>{{ item.updated_by }}</td>
                            <td>{{ item.updated_at }}</td>
                            <td>
                                <a type="button" class="btn btn-danger btn-xs"
                                   href="{% url 'manage:file_delete' project_id=request.tracer.project.id file_id=item.id%}">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> 删除
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                </tr>

                </tbody>
            </table>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $('#uploadFile').on('change', function (event) {
                const files = event.target.files;  // 获取选中的文件
                const formData = new FormData();   // 创建 FormData 对象

                // 将所有文件添加到 FormData 对象
                for (let i = 0; i < files.length; i++) {
                    formData.append('uploadFile', files[i]);
                }
                // 获取 CSRF 令牌
                const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                // 使用 AJAX 发送文件到服务器
                $.ajax({
                    url: '{% url 'manage:file' project_id=request.tracer.project.id %}',  // 上传处理的 URL
                    type: 'POST',
                    data: formData,
                    processData: false,  // 不处理数据
                    contentType: false,   // 不设置内容类型
                    headers: {
                        'X-CSRFToken': csrfToken  // 添加 CSRF 令牌
                    },
                    success: function (data) {
                        console.log('Success:', data);    // 处理成功响应
                        alert('文件上传成功！');

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', textStatus, errorThrown);  // 处理错误
                        alert('文件上传失败！');
                    }
                });
            });
        });
    </script>
{% endblock %}