{% extends 'layout/manage.html' %}

{% block title %}文件上传{% endblock %}
{% block css %}
    <style>
        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-default > .panel-heading a {
            text-decoration: none;
        }

        .panel-default > .panel-heading span {
            padding: 0 5px;
        }

        .panel-default > .panel-heading .function .upload {
            overflow: hidden;
        }

        .panel-default > .panel-heading .function .upload input {
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 76px;
            left: -2px;
            overflow: hidden;
        }

        .upload-progress {
            position: fixed;
            right: 2px;
            bottom: 2px;
            width: 400px;
        }

        .upload-progress .progress-error {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default" style="margin-top: 20px;">
            <div class="panel-heading">
                <div>
                    <a href="{% url 'manage:file' project_id=request.tracer.project.id %}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>文件库</span>
                    </a>
                </div>
                <div class="function">
                    <div class="btn btn-primary btn-xs upload" style="position: relative">
                        <div><i class="fa fa-upload" aria-hidden="true"></i> 上传文件夹</div>
                        <input type="file" multiple name="uploadFolder" id="uploadFolder" webkitdirectory>
                    </div>
                    <div class="btn btn-primary btn-xs upload" style="position: relative">
                        <div><i class="fa fa-upload" aria-hidden="true"></i> 上传文件</div>
                        <input type="file" multiple name="uploadFile" id="uploadFile">
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>文件大小</th>
                    <th>更新者</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="rowList">
                <tr>
                    {% for item in queryset %}
                        <tr>
                            <td>
                                {% if item.file_type == 1 %}
                                    <a id="show_folder_detail" href="{% url 'manage:file_detail' project_id=request.tracer.project.id file_id=item.id %}">{{ item.name }}</a>
                                {% else %}
                                    {{ item.name }}
                                {% endif %}
                            </td>
                            <td>{{ item.file_size }}</td>
                            <td>{{ item.updated_by }}</td>
                            <td>{{ item.updated_at }}</td>
                            <td>
                                <a type="button" class="btn btn-success btn-xs"
                                   href="{% url 'manage:file_edit' project_id=request.tracer.project.id file_id=item.id %}">
                                    <i class="fa fa-edit" aria-hidden="true"></i> 编辑
                                </a>
                                <a type="button" class="btn btn-danger btn-xs"
                                   href="{% url 'manage:file_delete' project_id=request.tracer.project.id file_id=item.id %}">
                                    <i class="fa fa-trash" aria-hidden="true"></i> 删除
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            // 处理文件夹上传
            $('#uploadFolder').on('change', function (event) {
                const files = event.target.files;  // 获取选中的文件
                const formData = new FormData();   // 创建 FormData 对象

                // 将所有文件添加到 FormData 对象
                for (let i = 0; i < files.length; i++) {
                    formData.append('uploadFile', files[i]);
                }

                // 获取 CSRF 令牌
                const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
                const URL_FILE = "{% url 'manage:file' project_id=request.tracer.project.id %}";

                // 使用 AJAX 发送文件到服务器
                $.ajax({
                    url: URL_FILE,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    success: function (data) {
                        console.log('Success:', data);
                        alert('文件夹上传成功！');
                        window.location.href = URL_FILE;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', textStatus, errorThrown);
                        alert('文件夹上传失败！');
                        window.location.href = URL_FILE;
                    }
                });
            });

            // 处理单个文件上传
            $('#uploadFile').on('change', function (event) {
                const files = event.target.files;  // 获取选中的文件
                const formData = new FormData();   // 创建 FormData 对象

                // 将所有文件添加到 FormData 对象
                for (let i = 0; i < files.length; i++) {
                    formData.append('uploadFile_only', files[i]);
                }

                // 获取 CSRF 令牌
                const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
                const URL_FILE = "{% url 'manage:file' project_id=request.tracer.project.id %}";

                // 使用 AJAX 发送文件到服务器
                $.ajax({
                    url: URL_FILE,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    success: function (data) {
                        console.log('Success:', data);
                        alert('文件上传成功！');
                        window.location.href = URL_FILE;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', textStatus, errorThrown);
                        alert('文件上传失败！');
                        window.location.href = URL_FILE;
                    }
                });
            });
        });
    </script>

{% endblock %}